table, th, td {
    border-bottom: 1px solid #ccc;
    border-collapse: collapse;
}

table {
    width: 90%;
    margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
    max-width: 30%;
}

th {
    background-color: #ccc;
    text-align: left;
}

h1 {
    margin-top: 60px;
    text-align: center;
}

h2 {
    margin-top: 60px;
    margin-left: 70px;
}

#content {
    padding-bottom: 100px;
}

a {
    text-decoration: none;
}

#header {
    padding: 20px;
    padding-bottom: 0;
    height: 200px;
    background-color: #182e46;
}

#header img {
    width: 300px;
}

#dtm_tagline {
    font-family: "Lato",sans-serif;
    display: block;
    font-size: 12px;
    text-align: left;
    margin-top: -5px;
    letter-spacing: 0.4px;
    margin-left: 60px;
    position: relative;
    top: -2px;
    font-weight: 300;
    color: #ebebeb;
}

#footer {
    height: 100px;
    background-color: #182e46;
}

.image {
    width: 32%;
    display: inline-block;
    margin: 10px;
    margin-bottom: 60px;
}

.image img {
    width: 100%;
}
